.container {
   width: 100px;
   background-color: rgb(49, 49, 49);
   margin: 20px auto;
   padding: 10px;
   border-radius: 10px;
}

#trafficLight {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   background: black;
   margin: 5px 0 5px 0;
 }